<div class="container-fluid">
  <h1>Load Component on scroll</h1>

  <div
    class="card border-primary mb-3"
    intersectionObserver
    [intersectionDebounce]="0"
    (visibilityChange)="onVisibilityChanged('todos', $event)"
    [ngSwitch]="visibilityStatus['todos']"
  >
    <ng-container *ngSwitchCase="intersectionStatus.Visible">
      <div class="card-header">Section 1 - Get list of todos ✅</div>
      <div class="card-body text-primary">
        <pre>{{ todos$ | async | json }}</pre>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="intersectionStatus.Pending">
      <ng-container [ngTemplateOutlet]="loading"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault> ❌ </ng-container>
  </div>

  <div
    class="card border-success mb-3"
    intersectionObserver
    [intersectionDebounce]="0"
    (visibilityChange)="onVisibilityChanged('posts', $event)"
    [ngSwitch]="visibilityStatus['posts']"
  >
    <ng-container *ngSwitchCase="intersectionStatus.Visible">
      <div class="card-header">Section 2 - Posts ✅</div>
      <div class="card-body text-primary">
        <pre>{{ posts$ | async | json }}</pre>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="intersectionStatus.Pending">
      <ng-container [ngTemplateOutlet]="loading"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault> ❌ </ng-container>
  </div>

  <div
    class="card border-success mb-3"
    intersectionObserver
    [intersectionDebounce]="0"
    (visibilityChange)="onVisibilityChanged('comments', $event)"
    [ngSwitch]="visibilityStatus['comments']"
  >
    <ng-container *ngSwitchCase="intersectionStatus.Visible">
      <div class="card-header">Section 3 - Comments ✅</div>
      <div class="card-body text-primary">
        <pre>{{ comments$ | async | json }}</pre>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="intersectionStatus.Pending">
      <ng-container [ngTemplateOutlet]="loading"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault> ❌ </ng-container>
  </div>

  <div
    class="card border-success mb-3"
    intersectionObserver
    [intersectionDebounce]="0"
    (visibilityChange)="onVisibilityChanged('albums', $event)"
    [ngSwitch]="visibilityStatus['albums']"
  >
    <ng-container *ngSwitchCase="intersectionStatus.Visible">
      <div class="card-header">Section 4 - Albums ✅</div>
      <div class="card-body text-primary">
        <pre>{{ albums$ | async | json }}</pre>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="intersectionStatus.Pending">
      <ng-container [ngTemplateOutlet]="loading"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault> ❌ </ng-container>
  </div>

  <div
    class="card border-success mb-3"
    intersectionObserver
    [intersectionDebounce]="500"
    (visibilityChange)="onVisibilityChanged('photos', $event)"
    [ngSwitch]="visibilityStatus['photos']"
  >
    <ng-container *ngSwitchCase="intersectionStatus.Visible">
      <ng-container *ngIf="photos$ | async as photos">
        <div class="card-header">
          Section 5 - Photos ({{ photos.length }} records) ✅
        </div>
        <div class="card-body text-primary">
          <cdk-virtual-scroll-viewport class="photos-viewport" itemSize="231">
            <ul class="list-group">
              <li
                class="list-group-item photo"
                *cdkVirtualFor="let photo of photos"
              >
                <h2>{{ photo.title }}</h2>
                <pre>{{ photo | json }}</pre>
              </li>
            </ul>
          </cdk-virtual-scroll-viewport>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="intersectionStatus.Pending">
      <ng-container [ngTemplateOutlet]="loading"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault> ❌ </ng-container>
  </div>

  <div
    class="card border-success mb-3"
    intersectionObserver
    [intersectionDebounce]="0"
    (visibilityChange)="onVisibilityChanged('users', $event)"
    [ngSwitch]="visibilityStatus['users']"
  >
    <ng-container *ngSwitchCase="intersectionStatus.Visible">
      <div class="card-header">Section 6 - Users ✅</div>
      <div class="card-body text-primary">
        <pre>{{ users$ | async | json }}</pre>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="intersectionStatus.Pending">
      <ng-container [ngTemplateOutlet]="loading"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault> ❌ </ng-container>
  </div>
</div>

<ng-template #loading>
  <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
  <svg
    width="120"
    height="30"
    viewBox="0 0 120 30"
    xmlns="http://www.w3.org/2000/svg"
    fill="#2196F3"
  >
    <circle cx="15" cy="15" r="15">
      <animate
        attributeName="r"
        from="15"
        to="15"
        begin="0s"
        dur="0.8s"
        values="15;9;15"
        calcMode="linear"
        repeatCount="indefinite"
      />
      <animate
        attributeName="fill-opacity"
        from="1"
        to="1"
        begin="0s"
        dur="0.8s"
        values="1;.5;1"
        calcMode="linear"
        repeatCount="indefinite"
      />
    </circle>
    <circle cx="60" cy="15" r="9" fill-opacity="0.3">
      <animate
        attributeName="r"
        from="9"
        to="9"
        begin="0s"
        dur="0.8s"
        values="9;15;9"
        calcMode="linear"
        repeatCount="indefinite"
      />
      <animate
        attributeName="fill-opacity"
        from="0.5"
        to="0.5"
        begin="0s"
        dur="0.8s"
        values=".5;1;.5"
        calcMode="linear"
        repeatCount="indefinite"
      />
    </circle>
    <circle cx="105" cy="15" r="15">
      <animate
        attributeName="r"
        from="15"
        to="15"
        begin="0s"
        dur="0.8s"
        values="15;9;15"
        calcMode="linear"
        repeatCount="indefinite"
      />
      <animate
        attributeName="fill-opacity"
        from="1"
        to="1"
        begin="0s"
        dur="0.8s"
        values="1;.5;1"
        calcMode="linear"
        repeatCount="indefinite"
      />
    </circle>
  </svg>
</ng-template>
