<div class="container">
  <h1>Dashboard</h1>

  <div class="dashboard-cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/rxdb">Rxdb Demo (Todos)</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/rxdbdemo">Rxdb Demo (Heroes)</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/rxdb-samples">Rxdb Samples (Todos/Heroes)</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
