.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  align-content: center;
}

.mat-card-header {
  align-items: center;
  justify-content: center;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}
