<div class="container">
  <h1>Dashboard</h1>

  <div class="dashboard-cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/rxdb">Rxdb Demo (Todos)</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/rxdbdemo">Rxdb Demo (Heroes)</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/virtual-scroll">Virtual Scroll</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/intersection-observer">Intersection Observer</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/performance">Performance</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/treegrid">Expandable Table</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/demos">Demos</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/table">Table</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
